* {
    margin: 0;
    padding: 0;
}
body {
    color: #444;
    font-family: sans-serif;
    line-height: 1.4;
}
article {
    border: 5px solid #000;
    width: 825px;
    margin: 150px auto 0 auto;
    position: relative;
}
.header {
    background-color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 15px 0;
}
.cart-button {
    color: #fff;
    background-color: #000;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    padding: 20px;
}
.cart-button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-top: 5px solid #000;
}
a:link,
a:visited {
    color: #444;
}
.detal {
    margin-bottom: 20px;
}
a:hover,
a:active {
    text-decoration: none;
}

.list {
    list-style: square;
    margin-left: 20px;

}
.list li{
  margin-bottom: 10px;
}
.off {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
}
.price {
    font-size: 22px;
    font-weight: bold;
}

.color{
    width: 20px;
    height: 20px;
    border: none;
    display: inline-block;
    margin-right: 10px;
}
.colors{
    margin-bottom: 25px;
}
.color :last-child{
    margin-right: 0;
}
.sale{
    background-color: red;
    color: #fff;
    position: absolute;
    top: -25px;
    left: -35px;
    padding: 10px 15px;
    font-weight: bold;
    display: inline-block;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
   transform: rotate(-45deg);
}
